body {
    
    font-family: cursive, sans-serif;
    font-size: 17pt;
    margin: auto;
    width: fit-content;
    margin: center;
}

h1 {
    background-color: hsl(106, 95%, 45%);
    color: #535353;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 10px auto 15px ;
    width: 700px;
}

b {
    color: red;
}

i {
    color: rgb(167, 66, 207);
}

table {
    background-color: #0f1636;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 0 30px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 8px;
    border-spacing: 15px;
    width: 1224px;
    
}

.bordas {
    height: 140px;
    object-fit: cover;
}

img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    
    
}